94:nifi.c2.enable=false
101:nifi.c2.root.classes=DeviceInfoNode,AgentInformation,FlowInformation,AssetInformation
144:nifi.asset.directory=${MINIFI_HOME}/asset
156:nifi.python.processor.dir=${MINIFI_HOME}/asset
157:nifi.python.virtualenv.directory=${MINIFI_HOME}/minifi-python-env
